@charset "iso-8859-1";
/* Estil General del BODY */
	body {
		/*padding-top:20px;*/
		margin: 4;   
		font-family: Verdana;  
		font-size: 10px;   
		color: #777777;
		background-color:#FFFFFF;
		background-image:url(../../../res/img/fondo_2.jpg);
	}
	

/* subtitol de pagina*/
	.sub_titol {
		background: rgb(255, 161, 14) ; 
		opacity: 0.8;
		color:#ffffff;
		border: 2px solid #ffffff;
		padding-left: 12px;
		font-weight:bold;
		font-size: 10px;
		height:23px;
		-moz-border-radius:10px;
		
	}
	.petit {
		/*background-color:#ffa10e;*/
		font-size: 0px;
		height:0px;
	}
/* Estils dels labels*/
	.etiqueta {
		border-bottom: thin solid; 
		font-size: 10px;
		height:20px;
		color:777777;
		font-weight:bold;
		/*background-color:#D8D8D8;*/
		
		
	}
	.etiqueta_no_subratllat {
		font-size: 10px;
		/*height:20px;*/
		color:777777;
		
		
	}
	.etiqueta_f {
		color:#CCCCCC;
		border: thin solid; 
		padding-left: 3px;
		font-size: 10px;	
		background-color:#999999;
	}	
/* Estils dels inputs*/
	.input {
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		z-index:1;
		padding-left:4px;	
	}
/* Estils dels textos*/
	.text { 
		font-size: 10px; 
	}	
/* Estils dels textos*/
	.opcions_linia {
		text-align:right; 
	}	

/* Pijama */
	.pijama0 {
		font-size: 10px;
		color: #777777;
		background-color:#ededed;
		padding-left:10px;
	}	
	.pijama1 {
		font-size: 10px;
		color: #777777;
		background-color:#FFE7C1;
		padding-left:10px;
	}
	.pijama3 {
		font-size: 10px;
		color: #ffffff;
		background-color:#B4B4B4;
		padding-left:10px;
		font-weight:bold;
		-moz-border-radius:10px;
		border: 1px solid #ffffff;
	}	
	.pijama4 {
		font-size: 10px;
		color: #777777;
		line-height:20px;
		/*background-color:#CCCCCC;*/
		padding-left:10px;
		font-weight:bold;
		/*border: 1px solid #777777;*/
	}	
td.actiu {
	background-color:#6699FF;
	margin-right:0px;
	font-size: 11px;
	color: #777777; 	
}
.text10 { 
	font-size: 10px; 
}
.text11 {
	font-size: 11px;
	color: #777777; 
}
table.taula {
	margin: 0;   
	font-family: Verdana;  
	font-size: 10px;   
	color: #777777;
}
.scr_titol {
	border: thin ridge #02b7d2; 
	border-left: none; 
	border-right: none; 
	color: #02b7d2; 
	font-family:Verdana;
	font-size: 16px;
}
.tabs {
	position:relative; 
	height: 20px; 
	margin: 0; 
	padding: 0; 
	background-color:#D92A37; 
	overflow:hidden ; 
	color:#FFFFFF; 
}
.tabs li {
	display:inline;
}
.tabs a:hover, .tabs a.tab-active {
	background-color:#D8D8D8;
	color:#777777;
} 
.tabs a  {
	height: 20px; 
	font:13px verdana, helvetica, sans-serif;
    position:relative; 
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:3px;

	
	color:#FFFFFF;
	text-decoration:none;
/*	
	margin: 0px -4px 0px 0px; 
	border-left:1px solid #fff; 
	border-right:1px solid #6D99B6;
*/
}
.tab-container {
	background: #fff; 
	border:0px solid #6D99B6;
}
.tab-panes { 
	margin: 0px 
}



